.group {
	height: 1%;
}

footer p.credits a,
.biuro a {
	top: 6px;
}

h2,
h3,
nav,
a#playpause,
#carousel .description a.film,
.lokalizacja div.descr .tool,
.news-feature h3,
.news-item .meta h4,
.news-grid .news-more,
.mieszkania dl dt,
.mieszkania .segments a.seg,
h1.newsroom-title,
.slideshow .tools a.pause,
.slideshow .tools a.pokaz,
ul.budynki li a,
ul.pietra li,
ul.bud-info li.nr-mieszkania
.bryla {
	font-family: Arial, sans-serif !important /* important dla pewności ;) */;
}

.bryla .budynki li
ul.pietra {
	font-weight: 100 !important;
}

nav ul.mainnav li {
	padding: 0 25px;
}

.mieszkania dl dt {
 font-size: 20px;
}

a.seg {
 font-size: 10px;
}

.bryla.osiedle a.neptun {
	top: 139px;
}

.bryla.osiedle a.saturn {
	top: 6px;
}

.bryla.osiedle a.merkury {
	top: 232px;
}

.bryla.osiedle a.jowisz {
	top: 303px;
}